<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <title>Login</title>
    <link rel="stylesheet" href="{%  static 'styles/login.css' %}" />
  </head>
  <body>
    <div class="log-form">
      <h2>I am home page</h2>
      <!-- action="{% url 'user_login' %}" -->
      <form class = 'login' , name="Login BFS Project", method="post">
        <input type="text" name="email" id="email" placeholder="Email" />
        <input type="password" name="password" id="password" placeholder="Password" />
        <!-- <form action="{% url 'check_user' %}" method="get"> -->
          {% csrf_token %}
          {% if error %}
          <a class="error">{{ error }}</a><p></p>
          <button type="submit" class="btn" >Login</button> 
          
          {% else %}
          <button type="submit" class="btn" >Login</button> 
          
          {% endif %}
        <!-- </form> -->
      </form>
    </div>
  </body>
</html>
