<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
</head>
<body>
    <div class="main-panel">
        <div class="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Data Base BFS</h4>
                        </div>
                        <div class="card-body">
                         <div class="table-responsive">
                            <table id="multi-filter-select" class="display table table-striped table-hover">
                              <thead>
                                <tr>
                                  <th>Cycle</th>
                                  <th>Diet</th>
                                  <th>Date</th>
                                  <th>Temperature</th>
                                  <th>10 Larvae Weight</th>
                                  <th>Substrate Before Drying</th>
                                  <th>Substrate After Drying</th>
                                </tr>
                              </thead>
                              <tfoot>
                                <tr>
                                  <th>Cycle</th>
                                  <th>Diet</th>
                                  <th>Date</th>
                                  <th>Temperature</th>
                                  <th>10 Larvae Weight</th>
                                  <th>Substrate Before Drying</th>
                                  <th>Substrate After Drying</th>
                                  </tr>
                              </tfoot>
                              <tbody>
                                {% for row in data_from_server %}
                                  <tr>
                                    <td>{{ row.col1 }}</td>
                                    <td>{{ row.col2 }}</td>
                                    <td>{{ row.col3 }}</td>
                                    <td>{{ row.col4 }}</td>
                                    <td>{{ row.col5 }}</td>
                                    <td>{{ row.col6 }}</td>
                                    <td>{{ row.col7 }}</td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</body>

<!-- CSS Files -->
<link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{%  static 'css/plugins.min.css' %}" />
<link rel="stylesheet" href="{%  static '/css/kaiadmin.min.css' %}" />

<!-- Script Files -->
<script src="{%  static 'js/loadSideBar.js' %}"></script>
<script src="{%  static 'js/plugin/webfont/webfont.min.js' %}"></script>
<script src="{%  static 'js/core/jquery-3.7.1.min.js' %}"></script>
<script src="{%  static 'js/core/popper.min.js' %}"></script>
<script src="{%  static 'js/core/bootstrap.min.js' %}"></script>
<script src="{%  static 'js/plugin/datatables/datatables.min.js' %}"></script>

<script>
    WebFont.load({
        google: { families: ["Public Sans:300,400,500,600,700"] },
        custom: {
            families: [
                "Font Awesome 5 Solid",
                "Font Awesome 5 Regular",
                "Font Awesome 5 Brands",
                "simple-line-icons",
            ],
            urls: ["static/css/fonts.min.css"],
        },
        active: function () {
            sessionStorage.fonts = true;
        },
    });
</script>

    <script>
      $(document).ready(function () {
        debugger;
        $("#multi-filter-select").DataTable({
          pageLength: 5,
          initComplete: function () {
            this.api()
              .columns()
              .every(function () {
                var column = this;
                var select = $(
                  '<select class="form-select"><option value=""></option></select>'
                )
                  .appendTo($(column.footer()).empty())
                  .on("change", function () {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());

                    column
                      .search(val ? "^" + val + "$" : "", true, false)
                      .draw();
                  });

                column
                  .data()
                  .unique()
                  .sort()
                  .each(function (d, j) {
                    select.append(
                      '<option value="' + d + '">' + d + "</option>"
                    );
                  });
              });
          },
        });
      });
    </script>
</html>
